@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  background: rgba(255, 255, 255, 0.71);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-sidebar {
  background: rgba(28, 64, 204, 0.52);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(28, 64, 204, 0.3);
}

.glass-window {
  background: rgba(214, 227, 255, 0.86);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(214, 227, 255, 0.3);
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.shadow-box-button {
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.3) inset;
}
